openapi: 3.0.3
info:
  title: Onbourding API
  description: |-
    Mon STD22047
  version: 1.2.0
servers:
  - url: http://STD22047.com

tags:
  
  - name: teacher
    description: Operations about teacher
paths:
 
  /teacher:
    post:
      tags:
        - teacher
      summary: Create teacher
      description: This can only be done by the logged in teacher.
      operationId: createTeacher
      requestBody:
        description: Created teacher object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Teacher'
          application/xml:
            schema:
              $ref: '#/components/schemas/Teacher'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Teacher'
      responses:
        default:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Teacher'
            application/xml:
              schema:
                $ref: '#/components/schemas/Teacher'
  
  /teacher/{Toky}:
    get:
      tags:
        - teacher
      summary: Get teacher by teacher name
      description: ''
      operationId: getUserByName
      parameters:
        - name: Toky
          in: path
          description: 'The name that needs to be fetched. Use teacher1 for testing. '
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Teacher'          
            application/xml:
              schema:
                $ref: '#/components/schemas/Teacher'
        '400':
          description: Invalid username supplied
        '404':
          description: Teacher not found
    put:
      tags:
        - teacher
      summary: Update teacher
      description: This can only be done by the logged in teacher.
      operationId: updateTeacher
      parameters:
        - name: Toky
          in: path
          description: name that need to be deleted
          required: true
          schema:
            type: string
      requestBody:
        description: Update an existent teacher in the store
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Teacher'
          application/xml:
            schema:
              $ref: '#/components/schemas/Teacher'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Teacher'
      responses:
        default:
          description: successful operation
    delete:
      tags:
        - teacher
      summary: Delete teacher
      description: This can only be done by the logged in user.
      operationId: deleteTeacher
      parameters:
        - name: Toky
          in: path
          description: The name that needs to be deleted
          required: true
          schema:
            type: string
      responses:
        '400':
          description: Invalid username supplied
        '404':
          description: User not found
components:
  schemas:
   
    Teacher:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 01
        teachername:
          type: string
          example: Tokimahery RAMAROZAKA
        firstName:
          type: string
          example: Ramarozaka
        lastName:
          type: string
          example: Toky
        email:
          type: string
          example: toky@hei.school
        password:
          type: string
          example: '12345'
        phone:
          type: string
          example: '034 13 582 27'
        teacherStatus:
          type: string
          description: Teacher Status
          format: int32
          example: 'Enseignant Permanent'
        subjectsTaught:  
          type: array
          items:
            type: string
            example: '[ - PROG1, - PROG2,  - Web1 , - Donnée1]'
             
              
      xml:
        name: teacher
    
    
  